---
layout: default
---
<div class="post">
    <header class="post-header">
        <h1 class="post-title">{{ page.title }}</h1>
        <p class="post-meta">
            {{ page.date | date: "%b %-d, %Y" }}

            {% for author in page.authors %}
            <font color="blue"> {{ author }} </font>
            • &nbsp;
            <image src="{{author | prepend: "/images/" | prepend: site.url | append: ".png " }}" width="42" height="42" alt="Avatar" style="border-radius: 50%" />
            {% endfor %}

        </p>
        <header>

        </header>
        <article class="post-content">
            {{ content }}
        </article>

</div>
